In [12]:
import numpy as np
import pandas as pd
import matplotlib as plt
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [80]:
data = pd.read_csv("../input/heart-failure-clinical-data/heart_failure_clinical_records_dataset.csv")

In [81]:
data.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [82]:
data_features = ['age','anaemia','creatinine_phosphokinase','diabetes','ejection_fraction','high_blood_pressure','platelets','serum_creatinine','serum_sodium','sex','smoking','time']
data_pred_features = ['DEATH_EVENT']
features = data[data_features]
preds = data[data_pred_features]

In [83]:
feature_scaler = StandardScaler()
feature_scaler.fit(features)
features = feature_scaler.transform(features)

In [84]:
features_train, features_test, preds_train, preds_test = train_test_split(features, preds, test_size=0.3)

In [120]:
features_train, features_validate, preds_train, preds_validate = train_test_split(features_train,preds_train, test_size=0.2)

In [140]:
input_layer = tf.keras.Input(shape=(12,))
x = tf.keras.layers.Dense(12,activation=tf.nn.sigmoid)(input_layer)
x2 = tf.keras.layers.Dense(24,activation=tf.nn.sigmoid)(x)
x3 = tf.keras.layers.Dense(12, activation=tf.nn.sigmoid)(x2)
outputs = tf.keras.layers.Dense(1,activation=tf.nn.sigmoid)(x3)
model = tf.keras.Model(inputs=input_layer, outputs=outputs)

In [141]:
model.compile(optimizer="Adam",loss="binary_crossentropy")

In [142]:
callback = tf.keras.callbacks.EarlyStopping(monitor='loss', patience=5)
model.fit(features_train, preds_train, validation_data=(features_validate,preds_validate), epochs=1000, callbacks=[callback])

Epoch 1/1000
6/6 [==============================] - 0s 22ms/step - loss: 4.8953 - val_loss: 6.2434
Epoch 2/1000
6/6 [==============================] - 0s 5ms/step - loss: 4.8953 - val_loss: 6.2434
Epoch 3/1000
6/6 [==============================] - 0s 4ms/step - loss: 4.8953 - val_loss: 6.2434
Epoch 4/1000
6/6 [==============================] - 0s 4ms/step - loss: 4.8953 - val_loss: 6.2434
Epoch 5/1000
6/6 [==============================] - 0s 4ms/step - loss: 4.8953 - val_loss: 6.2434
Epoch 6/1000
6/6 [==============================] - 0s 4ms/step - loss: 4.8953 - val_loss: 6.2434

In [139]:
model.evaluate(features_test,preds_test)

3/3 [==============================] - 0s 1ms/step - loss: 0.6809

0.6809260845184326

In [136]:
model.predict(features_test).round()

array([[0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.]], dtype=float32)

In [109]:
preds_test

     DEATH_EVENT
286            0
288            0
19             1
48             1
129            0
..           ...
222            0
184            1
245            0
123            0
139            0

[90 rows x 1 columns]